@use "base";

.book-obj-card {
  position: relative;
  border: 1px solid base.$root-border-color;
  border-radius: 1rem;
  padding: 1rem 5rem;
  padding-bottom: 5rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  transition: border-color 0.2s;

  @include base.respond-l {
    grid-template-columns: 1fr;
  }

  @include base.respond-s {
    padding: 1rem 1rem;
    padding-bottom: 5rem;
  }

  &__img {
    display: block;
    height: 20rem;
    border: 1px solid base.$root-border-color;

    @include base.respond-l {
      height: 15rem;
      width: 100%;
      border: none;
      display: flex;
      justify-content: center;
    }

    @include base.respond-s {
      height: 10rem;
    }

    a {
      @include base.respond-l {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 0%;
      }

      img {
        height: 100%;
        margin-inline: auto;

        @include base.respond-s {
          border: 1px solid base.$root-border-color;
        }
      }
    }
  }

  &__info {
    height: 100%;

    > h2 {
      font-size: 2.5rem;
      margin-bottom: 0.1rem;

      @include base.respond-l {
        text-align: center;
        margin-top: 1rem;
        font-size: 2rem;
      }

      @include base.respond-s {
        font-size: 1.5rem;
      }
    }

    > p {
      font-size: 1.5rem;
      margin-bottom: 2rem;

      @include base.respond-l {
        text-align: center;
        font-size: 1.3rem;
      }

      @include base.respond-s {
        font-size: 1rem;
      }
    }

    > div {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;

      @include base.respond-s {
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        padding: 0 2rem;
      }

      button {
        padding: 0.5rem;
        font-size: 1rem;
        background-color: white;
        border: 1px solid base.$root-border-color;
        border-radius: 1rem;
        color: base.$nav-background;
        transition:
          background-color 0.2s,
          color 0.2s;

        &:hover {
          cursor: pointer;
          background-color: base.$root-hover-background;
          color: white;
        }

        > i:nth-of-type(2) {
          display: none;

          @include base.respond(1196px) {
            display: inline;
          }
        }

        > span {
          @include base.respond(1196px) {
            display: none;
          }
        }
      }
    }
  }

  > a {
    position: absolute;
    display: block;
    right: 20px;
    bottom: 10px;
  }

  &:hover {
    border-color: base.$root-hover-background;
  }
}
