@use "base";

.library-page {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: min(90%, base.$screen-xl);
  margin-inline: auto;
  word-wrap: break-word;

  > h1 {
    margin-bottom: 1rem;

    @include base.respond-m() {
      font-size: 2rem;
    }

    @include base.respond-s() {
      font-size: 1.6rem;
    }
  }
}
