@use "base";

.nav-bold {
  font-family: AdidasFontBold;
  font-weight: 900;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  background-color: base.$nav-background;
  color: base.$nav-text-color;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include base.respond-s {
    display: none;
  }

  div {
    padding: 0.5rem 0;
    i {
      margin-right: 1rem;
    }

    a {
      text-decoration: none;
      color: base.$nav-text-color;
    }
  }

  .library {
    margin-right: 1rem;
  }

  .sub-library {
    margin: 0 1rem;
  }

  .library,
  .sub-library {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  hr {
    width: 100%;
    color: base.$nav-text-color;
  }
}
