@use "base";

.sub-lib-card {
  position: relative;
  margin-bottom: 2rem;

  > h2 {
    margin-bottom: 1rem;

    @include base.respond-m() {
      font-size: 1.5rem;
    }

    @include base.respond-s() {
      font-size: 1.2rem;
    }
  }

  &__books {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    overflow-x: auto;
  }

  &__empty {
    color: black;

    @include base.respond-m() {
      font-size: 1rem;
    }

    @include base.respond-s() {
      font-size: 0.8rem;
    }
  }

  > a {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;

    @include base.respond-m() {
      font-size: 0.7rem;
    }

    @include base.respond-s() {
      font-size: 0.6rem;
      position: static;
      margin-top: 0.3rem;
    }
  }
}
