@font-face {
  font-family: AdidasFont;
  src: url(../assets/fonts/AdihausDIN.ttf);
}
@font-face {
  font-family: AdidasFontBold;
  src: url(../assets/fonts/AdihausDIN-bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: AdidasFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.01rem;
}

body {
  width: 100%;
}

main {
  width: 100%;
}

.nav-bold {
  font-family: AdidasFontBold;
  font-weight: 900;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  background-color: rgb(74, 45, 71);
  color: #f4e9e9;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: left 0.3s;
}
@media (max-width: 48rem) {
  nav {
    left: -15rem;
  }
}
nav div {
  padding: 0.5rem 0;
}
nav div i {
  margin-right: 1rem;
}
nav div a {
  text-decoration: none;
  color: #f4e9e9;
}
nav .library {
  margin-right: 1rem;
}
nav .sub-library {
  margin: 0 1rem;
}
nav .library,
nav .sub-library {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav hr {
  width: 100%;
  color: #f4e9e9;
}

.hamburger-clicked {
  left: 0;
}

.close-btn {
  display: none;
}
@media (max-width: 48rem) {
  .close-btn {
    display: block;
    position: absolute;
    right: 20px;
  }
}
.close-btn:hover {
  cursor: pointer;
}

.hamburger {
  display: none;
  margin-top: 1rem;
  margin-left: 1rem;
}
@media (max-width: 48rem) {
  .hamburger {
    display: block;
  }
}
.hamburger i {
  border: 1px solid black;
  padding: 2px;
}
.hamburger i:hover {
  cursor: pointer;
}

#root {
  margin-left: 15rem;
  padding: 1rem;
}
@media (max-width: 48rem) {
  #root {
    margin-left: 0rem;
  }
}

.home-page > h1 {
  font-family: AdidasFontBold;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 26.25rem) {
  .home-page > h1 {
    font-size: 1rem;
  }
}
.home-page .nyt-category-card:first-of-type > h2 {
  margin-top: 0.5rem;
}

.nyt-category-card > h2 {
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  margin-top: 3rem;
}
@media (max-width: 48rem) {
  .nyt-category-card > h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 26.25rem) {
  .nyt-category-card > h2 {
    font-size: 1rem;
  }
}
.nyt-category-card > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  margin-top: 0rem;
  overflow-x: auto;
}
@media (max-width: 26.25rem) {
  .nyt-category-card > div {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

.nyt-book-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  border: 1px solid #f4e9e9;
  padding: 0.5rem 0rem;
  transition: border 0.3s;
}
@media (max-width: 26.25rem) {
  .nyt-book-card a {
    margin-inline: auto;
  }
}
.nyt-book-card a:hover {
  border-color: black;
}
.nyt-book-card a > div {
  height: 20rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 90rem) {
  .nyt-book-card a > div {
    width: 60%;
    margin-bottom: 0.3rem;
    height: 10rem;
  }
}
@media (max-width: 64rem) {
  .nyt-book-card a > div {
    width: 60%;
    margin-bottom: 0.3rem;
    height: 8rem;
  }
}
@media (max-width: 529px) {
  .nyt-book-card a > div {
    width: 60%;
    margin-bottom: 0.3rem;
    height: 6rem;
  }
}
@media (max-width: 26.25rem) {
  .nyt-book-card a > div {
    width: 60%;
    margin-bottom: 0.3rem;
    height: 8rem;
  }
}
.nyt-book-card a > div img {
  height: 100%;
}
.nyt-book-card p {
  text-align: center;
  color: black;
  word-break: break-word;
}
@media (max-width: 48rem) {
  .nyt-book-card p {
    font-size: 0.7rem;
  }
}
@media (max-width: 26.25rem) {
  .nyt-book-card p {
    font-size: 0.6rem;
  }
}
.nyt-book-card p span {
  font-style: italic;
}

.search-page .search-area {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.search-page .search-results {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#search-form > label {
  font-size: 3rem;
}
@media (max-width: 48rem) {
  #search-form > label {
    font-size: 2rem;
  }
}
#search-form > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 48rem) {
  #search-form > div {
    flex-direction: column;
  }
}
#search-form > div input {
  width: 50%;
  font-size: 1.5rem;
  outline: none;
  padding: 0.3rem 0.1rem;
  height: 3rem;
  margin-right: 1rem;
  border: 2px solid black;
  border-radius: 5px;
}
@media (max-width: 48rem) {
  #search-form > div input {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 0;
    font-size: 1.5rem;
  }
}
#search-form > div button {
  width: 15rem;
  font-size: 1.5rem;
  padding: 0.3rem 0.1rem;
  height: 3rem;
  outline: none;
  border-radius: 0px;
  border: 2px solid #f4e9e9;
  transition: background-color 0.25s, color 0.25s;
}
@media (max-width: 48rem) {
  #search-form > div button {
    width: 100%;
    font-size: 1.3rem;
  }
}
#search-form > div button:hover {
  background-color: rgb(74, 45, 71);
  cursor: pointer;
  color: #f4e9e9;
}

/*# sourceMappingURL=main.css.map */
