$screen-xl: 90rem; // 1440px
$screen-l: 64rem; // 1024px
$screen-m: 48rem; // 768px
$screen-s: 26.25rem; // 420px
$nav-text-color: #f4e9e9;
$nav-background: rgb(74, 45, 71);
$nav-hover-background: rgb(155, 94, 149);
$root-hover-background: rgb(155, 94, 149);
$root-border-color: rgb(201, 197, 197);

@font-face {
  font-family: AdidasFont;
  src: url(../assets/fonts/AdihausDIN.ttf);
}

@font-face {
  font-family: AdidasFontBold;
  src: url(../assets/fonts/AdihausDIN-bold.ttf);
}

@font-face {
  font-family: ClashGroteskExtraLight;
  src: url(../assets/fonts/ClashGrotesk-Extralight.otf);
}

@font-face {
  font-family: ClashGroteskLight;
  src: url(../assets/fonts/ClashGrotesk-Light.otf);
}

@font-face {
  font-family: ClashGroteskRegular;
  src: url(../assets/fonts/ClashGrotesk-Regular.otf);
}

@font-face {
  font-family: ClashGroteskMedium;
  src: url(../assets/fonts/ClashGrotesk-Medium.otf);
}

@font-face {
  font-family: ClashGroteskSemiBold;
  src: url(../assets/fonts/ClashGrotesk-Semibold.otf);
}

@font-face {
  font-family: ClashGroteskBold;
  src: url(../assets/fonts/ClashGrotesk-Bold.otf);
}

@mixin respond-xl {
  @media (max-width: $screen-xl) {
    @content;
  }
}

@mixin respond-l {
  @media (max-width: $screen-l) {
    @content;
  }
}

@mixin respond-m {
  @media (max-width: $screen-m) {
    @content;
  }
}

@mixin respond-s {
  @media (max-width: $screen-s) {
    @content;
  }
}

@mixin respond($size) {
  @media (max-width: $size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.05rem;
  word-break: break-word;
}

body {
  width: 100%;
}

main {
  width: 100%;
}

#root {
  margin-left: 15rem;
  padding: 1rem;

  @include respond-m() {
    margin-left: 0rem;
  }
}
